<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Document</title>
    <style>
        @media screen and (max-width:800px) {
            #x {
                width: 90%;
            }

            #y {
                display: none;
            }

        }

        @media screen and (min-width:800px) {
            #x {
                width: 50%;
            }

            #z {
                display: none;
            }
        }
    </style>
</head>

<body style="background-color: bisque;">
    {% include "layout.html" %}

    <div class="float-right text-light " style="position: absolute; top:15px;right:15px;">
        <a href="/logout" class="btn btn-primary btn-lg" style="background-color: red;font-weight: bold;" id="y"> Sign
            Out</a>
        <a href="/logout" class="btn btn-primary btn-lg" style="background-color: red;font-weight: bold;" id="z"> <i
                class="fa fa-sign-out " style="font-size: xx-large;"></i>
        </a>
    </div>
    <div class="container bg-dark text-light px-4 fs-1 shadow-lg rounded my-5 pb-5" id="x" style="height:fit-content">
        <h1 class="py-4 text-center fw-bold" style="color: chartreuse;">Student Information Record</h1>

        <div class="container">
        <form action="/information" method="POST" >
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label fs-5 fw-bold" style="color:aqua">Scholar No.</label>
                <input type="number" class="form-control rounded"  name="scno" placeholder="20111XXXX" required>
              </div>

              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label fs-5 fw-bold" style="color:aqua">Data of Birth</label>
                <input type="date" class="form-control rounded" name="dob" required>
              </div>

              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label fs-5 fw-bold" style="color:aqua">Student Name</label>
                <input type="text" class="form-control rounded" name="Student_Name" required>
              </div>

              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label fs-5 fw-bold" style="color:aqua">Branch</label>
              <select class="form-select form-select-md mb-3" aria-label="Large select example" name="branch" required>

                <option value="">Select</option>
                    <option value="Computer Science Engineering">Computer Science Engineering</option>
                    <option value="Electrical Engineering">Electrical Engineering</option>
                    <option value="Mechanical Engineering">Mechanical Engineering</option>
                    <option value="Civil Engineering">Civil Engineering</option>
                    <option value="Electronics and Communication Engineering">Electronics and Communication Engineering
                    </option>
              </select>
            </div>


              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label fs-5 fw-bold" style="color:aqua">Year of Graduation</label>
                <input type="number" class="form-control rounded" name="YOG" required>
              </div>


            <div class="text-center pt-4">
                <button type="submit" class="btn btn-success text-light fw-bold" style="width:100%;background-color:forestgreen">Add
                    Details</button>
            </div>
        </form>
    </div>
        <div class="text-center fs-6">
            <b>OR</b>
        </div>

        <hr class="bg-light ">



        <div class="pb-4 px-3 text-center">


            <a href="/records" class="btn btn-danger my-3 float-start">View Records</a>

            <a href="/information/uploadData" class="btn btn-warning my-3 float-end">Add from CSV</a>
        </div>



    </div>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</body>

</html>
