<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="nofollow" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin=”anonymous”>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <style>
        td{
            border-radius: 5%;
            border: inset; 
            padding: 5px;
            vertical-align: middle;
            
        }
        th{
            background-color: cyan;
            border-radius: 5%;
            border: inset;
            padding: 5px;
            vertical-align: middle;
        }
    </style>
</head>

<body style="background-color: pink;">

    <div class="container text-center my-2">
     <h1 class="text-center py-5">Student Information</h1>
     
      <form action="/update" method="POST">  
        <div class="table-responsive">       
        <table class="table ">
          <thead style="background-color: aquamarine;">
            <tr>
              <th style="border-radius: 5%;border: inset;padding: 5px;vertical-align: middle;">Select</th>
              
              <th style="border-radius: 5%;border: inset;padding: 5px;vertical-align: middle;">Scholar No.</th>
              <th style="border-radius: 5%;border: inset;padding: 5px;vertical-align: middle;">DOB</th>
              <th style="border-radius: 5%;border: inset;padding: 5px;vertical-align: middle;">Student Name</th>
              <th style="border-radius: 5%;border: inset;padding: 5px;vertical-align: middle;">Branch</th>
              <th style="border-radius: 5%;border: inset;padding: 5px;vertical-align: middle;">Year of Graduation</th>
            </tr>
          </thead>
          <tbody style="background-color: bisque;">
            
            {% for account in records %}
          
            
          
            <tr>
              <td><input type="checkbox" name="id" value="{{account.SNo}}" onclick="f('{{account.SNo}}')" /></td>
              <label for="id"></label>
              <td style="display: none;">  <input type="text" value={{account.SNo}} class={{account.SNo}} name="sno[]" readonly>   </td>
              <td>  <input type="text" value="{{account.Scholar_No}}" class={{account.SNo}} name="scholarno[]" readonly>   </td>
              <td>  <input type="text" value="{{account.DOB}}" class={{account.SNo}} name="dob[]" readonly>   </td>
              <td>  <input type="text"  class={{account.SNo}} name="studentname[]" value="{{account.Student_Name}}" readonly >   </td>
              <td>  <input type="text" value="{{account.Branch}}" class={{account.SNo}} name="branch[]" readonly>   </td>
              <td>  <input type="text" value="{{account.YOG}}"  class={{account.SNo}} name="yog[]" readonly>   </td>
            </tr>
         
            {% endfor %}
            
          </tbody>
        </table>
        
      </div>
      <div class="row">
        
        <div class="col my-4 text-center">
          <a class="btn btn-primary text-center " href="{{url_for('records')}}">Return</a>
        </div>
        <div class="col my-4 text-center">
          <button class="btn btn-success text-center text-light" type="submit">Update</button>
        </div>
      </div>
      
      </form> 
       
      </div>
      

</tr>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
   <script>
function f(sno) {
      const inputs = document.getElementsByClassName(sno);
      for (let i = 0; i < inputs.length; i++) {
        inputs[i].readOnly = !inputs[i].readOnly;
      }
    }
   </script>
</body>
</html>